# Input method
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export SDL_IM_MODULE=fcitx
export GLFW_IM_MODULE=ibus

# QT theme
QT_STYLE_OVERRIDE=kvantum

# Default proxy settings
export all_proxy="http://127.0.0.1:7890"
